body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image{
  height: 200px;
  width: 150px;
  object-fit: contain;
}
.product-card{
  height: 500px;
}

.card-title {
  text-overflow: ellipsis;
}
.product-card-footer{
  border: 0;
  margin-bottom: 20px;
}

.image_container {
  height: 250px;
  width: 100%;
}
.cart-image{
  width: 90px;
  height: 80px;
}

.deleteBtn{

  margin-top: 10px;
  width: 90px;
  border: none;
}

.main_container {
  display: flex;
  padding: 20px;
}

.cart_container {
  min-width: 450px;
  position: sticky;
  height: 200px;
  width: 500px;
  top: 0px;
}

.price_quantity_container {
  display: flex;
  justify-content: space-around;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.star_container {
  display: flex;
  background-color: transparent;
  align-items: flex-start;
}

.icon {
  margin-left: 20%;
}